:root {
  // Colors

  /// Primary

  --color-primary: hsl(176, 50%, 47%);
  --color-primary-dark: #147b74;

  /// Neutral
  --color-bg: hsl(0, 0%, 95%);
  --color-white: hsl(0, 0%, 100%);
  --color-black: hsl(0, 0%, 0%);
  --color-grey: hsl(0, 1%, 75%);
  --color-grey-dark: hsl(0, 0%, 48%);
  --color-backdrop: hsla(0, 0%, 0%, 0.5);
}
*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}
::selection{
  background: var(--color-primary);
  color: var(--color-white);
}
body {
  margin: 0;
  font-family: "Commissioner", sans-serif;
  background-color: var(--color-bg);
}
